<div id="leaf_small">
    <div class="inner">
        <h3 style="font-size: 30px; color: #fff; margin-bottom: 10px;">Datos de Contacto</h3>
        <p style="margin-bottom: 5px;"><strong>Direccion: </strong> xxx</p>
        <p style="margin-bottom: 5px;"><strong>Telefono: </strong> xxx</p>
        <p style="margin-bottom: 5px;"><strong>Correo: </strong> xxx</p>
        <p class="alR">&nbsp;</p>
    </div>
</div>
<div class="section clearFix">
    <h3 style="font-size: 30px; color: #fff;">Estamos ubicados en...</h3>
    <div id="googlemaps"></div>
</div>
<script type="text/javascript">
    $(document).ready(function(){ Googlemaps(); });

    var map;

    function Googlemaps() {
        var barranquilla = new google.maps.LatLng(10.97989,-74.80639);
        var myOptions = {
            zoom: 13,
            center: barranquilla,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map($("#googlemaps").get(0), myOptions);
    }
</script>