<div class="section clearFix">
    <h3 style="font-size: 30px; color: #fff;">Quienes Somos?</h3>
    <div>
        <p>Somos una red de Gestión Ambiental creada con el fin de interconectar de manera virtual todos los municipios del Departamento del Atlántico en materia ambiental para contar con información de primera mano sobre la situación ambiental del departamento. </p>
        <p><img src="css/images/img1.jpg" style="width: 100%;"></p>
    </div>
</div>
<!--Section Ends-->
<div id="leaf_large">
    <div class="inner">
        <h3 style="font-size: 30px; color: #fff;">Mision</h3>
        <p>Ser la red pública departamental encargada de la gestión  Ambiental y promover la recuperación, conservación, protección, ordenamiento, manejo, uso y aprovechamiento de los recursos naturales renovables, a fin de asegurar el desarrollo sostenible y garantizar el derecho de todos los ciudadanos a gozar y heredar un ambiente sano.</p>
        <p class="alR">&nbsp;</p>
    </div>
</div>
<div id="leaf_small"><a href="http://twitter.com/enviramedia" class="twitter"> <img src="css/images/content/twitter.jpg" alt="twitter"></a>
    <div class="inner">
        <h3 style="font-size: 30px; color: #fff;">Vision</h3>
        <p>Para el año 2020 el Atlántico será un departamento  desarrollado en materia de información ambiental oportuna que conlleve a impactos visibles en el mejoramiento y la conservación de los recursos naturales.</p>
        <p class="alR">&nbsp;</p>
    </div>
</div>