<div class="col-md-5" style="margin-left:300px;">
	<p>hola</p>
</div>
<div class="col-md-2">
	<div class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix-top" role="complementary">
        <ul class="nav bs-docs-sidenav">
    		<li><a href="#">BARANOA</a></li>
		  	<li><a href="#">CAMPO DE LA CRUZ</a></li>
			<li><a href="#">CANDELARIA</a></li>
			<li><a href="#">GALAPA</a></li>
			<li><a href="#">JUAN DE ACOSTA</a></li>
			<li><a href="#">LURUACO</a></li>
			<li><a href="#">MALAMBO</a></li>
			<li><a href="#">MANATI</a></li>
			<li><a href="#">PALMAR DE VARELA</a></li>
			<li><a href="#">PIOJO</a></li>
			<li><a href="#">POLONUEVO</a></li>
			<li><a href="#">PONEDERA</a></li>
			<li><a href="#">PUERTO</a></li>
			<li><a href="#">COLOMBIA</a></li>
			<li><a href="#">REPELON</a></li>
			<li><a href="#">SABANAGRANDE</a></li>
			<li><a href="#">SABANALARGA</a></li>
			<li><a href="#">SANTA LUCIA</a></li>
			<li><a href="#">SANTO TOMAS</a></li>
			<li><a href="#">SOLEDAD</a></li>
			<li><a href="#">SUAN</a></li>
			<li><a href="#">TUBARA</a></li>
			<li><a href="#">USIACURI</a></li>    
        </ul>
    </div>
</div>